body {
    background-color: #312e2b;
    font-size: 20px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: no-wrap;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
}

table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    font-size: 22px;
    border: 1px black solid;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
    border-spacing: 0px;
    margin: 5% 0;
    table-layout: fixed;
    width: 714px;
    background-color: #eeeed2;
    color: #769656;
}

.tbl-left {
    text-align: left;
}

td {
    background-repeat: no-repeat;
    width: 83px;
    height: 89px;
    border: none;
    padding: 0px;
    margin: 0px;
    padding-left: 3px;
    padding-right: 3px;
    background-size: 100%;
    transition: all 0.4s ease;
}

tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: #769656;
    color: #eeeed2;
}

tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: #769656;
    color: #eeeed2;
}

.info {
    background-color: #272522;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: #769656;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    text-decoration: underline;
    font-size: 21px;
}

form#myForm {
    display: flex;
    /* flex-direction: column; */
    flex-flow: column wrap;
    align-items: flex-start;
}

label {
    margin-left: 10px;
}

section.sex,
section.addInfo {
    font-size: 1.4em;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #769656;
    align-self: center;
}

section.addInfo {
    display: flex;
    flex-flow: column wrap;
}

#subm {
    font-size: 1.4em;
    background-color: #769656;
    border-radius: 5px;
    border: 2px #312e2b solid;
    transition: all 0.3s ease;
    margin: 10px;
    padding: 5px 10px;
    align-self: flex-end;
}

#subm:hover {
    background-color: #769750;
    transform: scale(1.1);
}

#subm:active {
    background-color: #769000;
}

div.input-block {
    margin-top: 16px;
    position: relative;
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

section.userInfo {
    margin: 20px
}

div.input-block input {
    background-color: #272522;
    font-size: 1.6rem;
    color: #769656;
    width: 350px;
    padding: 15px 15px;
    border-radius: 1rem;
    border: 2px solid #312e2b;
    outline: none;
}

div.input-block span.placeholder {
    position: absolute;
    margin: 17px 0;
    padding: 0 4px;
    color: #769656;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    top: 0;
    left: 17px;
    transition: all 0.2s ease;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}

div.input-block input:valid+span.placeholder,
div.input-block input:focus+span.placeholder,
div.input-block input:not([value=""]):not(:focus):invalid+span.placeholder {
    transform: scale(0.8) translateY(-40px);
    background: #272522;
}

div.input-block input:focus {
    color: #769656;
    border-color: #769656;
}

div.input-block input:focus+span.placeholder {
    color: #769656;
}

div.input-block input:not([value=""]):invalid {
    color: #ff5b40;
    border-color: #ff5b40;
}

div.input-block input:not([value=""]):invalid+span.placeholder {
    color: #ff5b40;
}

.wk {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png');
}

.wp {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png');
}

.bb {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png');
}

.wr {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png');
}

.wb {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png');
}

.bk {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png');
}

.br {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png');
}

.bp {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png');
}